@font-face {
    font-family: 'GOGOIA';
    src: url(../fonts/GOGOIA-Regular.otf);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;

}

li a:hover {
  color: #bd3d06;
}

a:link {
  color:#e8e000;
}

/* visited link */
a:visited {
  color:#e8e000;
}

html {
overflow: scroll;
overflow-x: hidden;
}

::-webkit-scrollbar {
width: 0px;
background: transparent;
}

body {
	margin: 0;
  height: 100%;
  font-family: GOGOIA;
}

.header {
  font-family: GOGOIA;
  padding: 1px;
  text-align: center;
  background: #a33d36;
  color: white;
  font-size: 25px;
}

.header p{
  padding: 5px;
  margin:0px;
}

.center {
  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
}

.navbar {
  position: absolute;
        top: 8%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -50%);
        font-size:30px;
}

#mainlogo{
  position: absolute;
        top: 50%;
        left: 50%;
        margin-right: -50%;
        transform: translate(-50%, -90%);
}


.footer{
  background-color: #a33d36;
  padding: 65px;
  color: black;
}

.photo{
  margin: 15px;
}
